mixin list(json)
  +b.UL.list&attributes(attributes)
    each item in json
      +e.LI.item
        if (item.popup)
          +e.A(href=item.href, data-popup-trigger=item.popup, data-analytics=item.analytics).link.js-prevent!=item.name
        else if (!item.external)
          +e.A(href=item.href, data-analytics=item.analytics).link.js-anchor!=item.name
        else
          +e.A(href=item.href, data-analytics=item.analytics).link!=item.name
    block
