head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  - const origin = 'https://infinitecreator.com/';
  - const preview = origin + 'assets/images/preview.png'
  - const title = 'Infinite Creator. Videos That Sell';
  - const description = 'Meet Infinite Creator, the revolutionary technology that empowers you to create listing content on the fly anywhere in the world with just your mobile phone.';

  //- Primary Meta Tags
  title=title
  meta(name="title" content=title)
  meta(name="description" content=description)

  //- Open Graph / Facebook
  meta(property="og:type" content="website")
  meta(property="og:url" content=origin)
  meta(property="og:title" content=title)
  meta(property="og:description" content=description)
  meta(property="og:image" content=preview)

  //- Twitter
  meta(property="twitter:card" content="summary_large_image")
  meta(property="twitter:url" content=origin)
  meta(property="twitter:title" content=title)
  meta(property="twitter:description" content=description)
  meta(property="twitter:image" content=preview)

  //- Favicons
  link(rel="shortcut icon" href="/favicon.ico?v=2")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2")
  link(rel="manifest" href="/site.webmanifest?v=2")
  link(rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#3555ff")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#ffffff")

  //- Additional
  link(rel="canonical" href=origin)

  //- Styles
  link(href='assets/styles/app.min.css' rel='stylesheet')

  //- Scripts
  script(src="assets/scripts/head.min.js")
  script(src='assets/scripts/libs/webp-modernizr.min.js')
  script(src='assets/scripts/libs/facebook-pixel.min.js')
  noscript
    img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=3541453452785022&amp;ev=PageView&amp;noscript=1")

